@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
#elecciones_results {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ababab;
  border-radius: 7px;
  opacity: 1;
  width: 1110px;
  height: 600px;
  margin: 20px auto;
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fadeInOut {
    -webkit-animation: fadeInOut 3s infinite;
    -moz-animation: fadeInOut 3s infinite;
    -o-animation: fadeInOut 3s infinite;
    animation: fadeInOut 3s infinite;
  }
  .elecciones_header {
    display: grid;
    grid-template-columns: 1fr 542px 1fr;
    .elecciones_title_result {
      position: relative;
      left: -25px;
      h2 {
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-size: 29px;
        line-height: 40px;
        text-align: center;
        margin: 28px auto 5px;
        max-width: 459px;
        font-weight: 400;
      }
      .elecciones_num_boletin {
        display: flex;
        justify-content: center;
        column-gap: 40px;
        span {
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          font-size: 14px;
        }
      }
      .elecciones_mesas {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
    .logo_elecciones {
      margin-top: 22px;
      margin-right: 25px;
      max-width: 214px;
    }
  }

  .inactive {
    display: none;
  }

  .elecciones_menu {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 442px;
    display: flex;
    justify-content: center;
    column-gap: 59px;
    align-items: center;
    position: relative;
    top: -30px;
    li {
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      font-size: 20px;
      line-height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    li.active {
      background: #dfdfdf 0% 0% no-repeat padding-box;
      border-radius: 7px 7px 0px 0px;
      font-weight: 700;
      padding: 10px 20px 7px 20px;
    }
    .corporacion_senado,
    .corporacion_camara,
    .corporacion_consultas {
      width: 100px;
      height: 44px;
    }
  }
  .elecciones_container {
    width: 1072px;
    height: 378px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000006b;
    border-radius: 7px;
    opacity: 1;
    margin: 0 auto;
    position: relative;
    top: -30px;
    .elecciones_body_senado {
      display: grid;
      grid-template-columns: 400px 1px 1fr;
      display: none;
      .elecciones_cantidados {
        .elecciones_cantidatos_title {
          display: flex;
          justify-content: space-around;
          padding: 12px 0;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          font-size: 15px;
          font-weight: 700;
        }
        .eleeciones_r_senado_cantidatos {
          list-style: none;
          padding: 0;
          margin: 0;
          height: 240px;
          overflow-y: scroll;
          counter-reset: my-counter;
          li {
            padding: 9px 0 13px 13px;
            display: grid;
            grid-template-columns: 30px 235px 60px;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            position: relative;
            .candidato {
              font-size: 16px;
              display: block;
            }
            .cant_votos {
              display: block;
              font-size: 14px;
              // justify-self: center;
            }
          }
          li:nth-of-type(2n + 1) {
            background: #f2f2f2 0% 0% no-repeat padding-box;
            opacity: 1;
          }
          li::before {
            counter-increment: my-counter;
            content: counter(my-counter) '.';
            // position: absolute;
            // left: 13px;
            justify-self: center;
            font-weight: 700;
          }
        }
      }

      // .divider {
      //   width: 1px;
      //   background: #707070;
      //   padding: 10px 0;
      //   height: 75%;
      //   margin-top: 42px;
      // }

      .elecciones_partidos {
        .elecciones_partidos_title {
          column-gap: 18px;
          display: grid;
          justify-items: center;
          grid-template-columns: 40px 196px 75px 156px 1fr;
          padding: 12px 0;
          letter-spacing: 0px;
          color: #000;
          opacity: 1;
          font-size: 15px;
          font-weight: 700;
        }

        .elecciones_r_senado_partidos {
          list-style: none;
          padding: 0;
          margin: 0;
          height: 240px;
          overflow-y: scroll;
          li {
            // padding: 9px 0 13px 13px;
            padding: 0px 0 0px 13px;
            display: grid;
            grid-template-columns: 40px 196px 65px 170px 1fr;
            column-gap: 18px;
            justify-content: space-around;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            align-items: center;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 14px;
            .candidato {
              font-size: 16px;
              display: block;
            }
            .cant_votos {
              display: block;
              font-size: 14px;
            }

            .porcet_v {
              display: block;
              progress {
                display: flex;
                width: 100px;
                height: 16px;
                margin: 0;
                background: none;
                border: 0;
                border-radius: 15px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                position: relative;
              }
              progress::-webkit-progress-bar {
                height: 16px;
                width: 100px;
                background-color: #ffffff;
                border-radius: 15px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                box-shadow: 0px 0px 6px #777 inset;
              }
              progress::-webkit-progress-value {
                display: flex;
                height: 16px;
                margin: 0px -10px 0 0;
                background: #08b92c;
                border-radius: 15px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                box-shadow: 0px 0px 6px #777 inset;
              }
              progress::before {
                padding: 0;
                content: attr(value) '%';
                position: absolute;
                right: -60px;
              }
            }

            .posib_curules {
              text-align: center;
            }

            .plb,
            .partido_0001 {
              // liberal
              background: url('../img/partidos.svg');
              background-position: -2px -6px;
            }
            .pcd,
            .partido_0011 {
              // centro demoniaco
              background: url('../img/partidos.svg');
              background-position: -2px -46px;
            }
            .pm,
            .partido_0231 {
              // mira
              background: url('../img/partidos-2.svg');
              background-position: -158px -45px;
            }
            .pv,
            .partido_0255 {
              // verde
              background: url('../img/partidos-2.svg');
              // background-position: -2px -142px;
              background-position: -2px -85px;
            }
            .pc,
            .partido_0002 {
              // conservador
              background: url('../img/partidos.svg');
              background-position: -55px -6px;
            }
            .pcz {
              // centro esperanza
              background: url('../img/partidos.svg');
              background-position: -55px -47px;
            }
            .psn,
            .partido_0302 {
              // salvacion nacional
              background: url('../img/partidos.svg');
              background-position: -55px -95px;
            }
            .pu,
            .partido_0008 {
              // partido de la U
              background: url('../img/partidos.svg');
              background-position: -104px -6px;
            }
            .pnl,
            .partido_0019 {
              // partido nuevo liberalismo
              background: url('../img/partidos.svg');
              background-position: -104px -46px;
            }
            .pfc,
            .partido_1140 {
              // partido fuerza ciudadana
              background: url('../img/partidos.svg');
              background-position: -104px -95px;
            }
            .pcr,
            .partido_0003 {
              // partido cambio radical
              background: url('../img/partidos.svg');
              background-position: -157px -6px;
            }
            .pph,
            .partido_0292 {
              // partido pacto historico
              background: url('../img/partidos.svg');
              background-position: -157px -46px;
            }
            .pcjl {
              // partido colombua justas
              background: url('../img/partidos.svg');
              background-position: -157px -95px;
            }
            .partido_1130 {
              // partido estamos lista colombia
              background: url('../img/partidos-2.svg');
              background-position: -120px -85px;
            }
            .partido_0013 {
              // partido comunes
              background: url('../img/partidos-2.svg');
              background-position: -2px -4px;
            }
            .partido_1039 {
              // partido movimiento unitario metropolitano
              background: url('../img/partidos-2.svg');
              background-position: -43px -85px;
            }
            .partido_1186 {
              // partido movimiento gente nueva
              background: url('../img/partidos-2.svg');
              background-position: -158px -85px;
            }
            .partido_1073 {
              // partido movimiento nacional organizado
              background: url('../img/partidos-2.svg');
              background-position: -82px -85px;
            }
            .logo_partido {
              width: 40px;
              height: 40px;
              text-indent: -9999px;
              background-size: 200px;
            }
          }
          li:nth-of-type(2n + 1) {
            background: #f2f2f2 0% 0% no-repeat padding-box;
            opacity: 1;
          }
        }
      }
    } // Fin senado body

    .elecciones_body_presidenciales_departamental {
      display: none;
      .elecciones_partidos_title {
        margin: 0;
        padding: 12px 20px 10px;
        list-style: none;
        display: grid;
        align-items: center;
        grid-template-columns: 300px 85px 420px 110px;
        justify-content: space-evenly;
        justify-items: center;
        li {
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          font-size: 15px;
          line-height: 19px;
          font-weight: 400;
        }
        li:first-child {
          display: flex;
          align-items: center;
          column-gap: 10px;
          span {
            letter-spacing: 0px;
            color: #9b9b9b;
            opacity: 1;
            font-size: 12px;
          }
        }
      }

      .eleeciones_r_presidenciales_candidatos {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 252px;
        overflow-y: scroll;
        .list_partido {
          display: grid;
          grid-template-columns: 325px 80px 1fr;
          // justify-items: center;
          justify-content: space-evenly;
          // column-gap: 20px;
          height: 42px;
          align-items: center;
          padding: 0 40px;
          .cant_votos {
            justify-self: center;
          }
          .porcet_v {
            // display: block;
            display: flex;
            column-gap: 5px;
            align-items: center;
            margin-left: 40px;
            progress {
              display: flex;
              width: 382px;
              height: 16px;
              margin: 0;
              background: none;
              border: 0;
              border-radius: 15px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              position: relative;
            }
            progress::-webkit-progress-bar {
              height: 16px;
              width: 382px;
              background-color: #ffffff;
              border-radius: 15px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              box-shadow: 0px 0px 6px #777 inset;
            }
            progress::-webkit-progress-value {
              display: flex;
              height: 16px;
              margin: 0px -10px 0 0;
              background: #08b92c;
              border-radius: 15px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              box-shadow: 0px 0px 6px #777 inset;
            }
            // progress::before {
            //   padding: 0;
            //   content: attr(value) '%';
            //   position: absolute;
            //   right: -58px;
            // }
          }

          .posib_curules {
            text-align: center;
          }

          .elecciones_logos_partidos {
            display: flex;
            align-items: center;
            // justify-content: center;
            // column-gap: 10px;
            .partido {
              max-width: 230px;
              margin-left: 10px;
            }
            .btn_flecha {
              background: url('../img/flecha_down.png') no-repeat;
              background-size: 100%;
              background-position: center;
              height: 20px;
              width: 15px;
              cursor: pointer;
            }
            .btn_flecha.activeList {
              background: url('../img/flecha_top.png') no-repeat;
              background-size: 130%;
              background-position: center;
            }
            .plb,
            .partido_0001 {
              // liberal
              background: url('../img/partidos.svg');
              background-position: -2px -6px;
            }
            .pcd,
            .partido_0011 {
              // centro demoniaco
              background: url('../img/partidos.svg');
              background-position: -2px -46px;
            }
            .pm,
            .partido_0231,
            .partido_0007 {
              // mira
              background: url('../img/partidos.svg');
              background-position: -2px -95px;
            }
            .pv,
            .partido_0255 {
              // verde
              background: url('../img/partidos.svg');
              background-position: -2px -142px;
            }
            .pc,
            .partido_0002 {
              // conservador
              background: url('../img/partidos.svg');
              background-position: -55px -6px;
            }
            .pcz,
            .partido_0267 {
              // centro esperanza
              background: url('../img/partidos.svg');
              background-position: -55px -47px;
            }
            .psn,
            .partido_0302 {
              // salvacion nacional
              background: url('../img/partidos.svg');
              background-position: -55px -95px;
            }
            .pu,
            .partido_0008 {
              // partido de la U
              background: url('../img/partidos.svg');
              background-position: -104px -6px;
            }
            .pnl,
            .partido_0019 {
              // partido nuevo liberalismo
              background: url('../img/partidos.svg');
              background-position: -104px -46px;
            }
            .pfc,
            .partido_1140 {
              // partido fuerza ciudadana
              background: url('../img/partidos.svg');
              background-position: -104px -95px;
            }
            .pcr,
            .partido_0003 {
              // partido cambio radical
              background: url('../img/partidos.svg');
              background-position: -157px -6px;
            }
            .pph,
            .partido_0292,
            .partido_0290 {
              // partido pacto historico
              background: url('../img/partidos.svg');
              background-position: -157px -46px;
            }
            .pcjl {
              // partido colombua justas
              background: url('../img/partidos.svg');
              background-position: -157px -95px;
            }
            .logo_partido {
              width: 40px;
              height: 40px;
              text-indent: -9999px;
              background-size: 200px;
              margin: 0 20px 0 10px;
            }
          }
        }
        // .list_partido:nth-child(-n + 5) {
        // .list_partido:nth-of-type(2n + 1) {
        //   background: #f2f2f2 0% 0% no-repeat padding-box;
        //   opacity: 1;
        // }
        .list_partido:nth-of-type(odd) {
          background: #f2f2f2 0% 0% no-repeat padding-box;
        }
        .list_partido:nth-of-type(even) {
          background: #ffffff;
        }
        // .list_partido {
        //   background: #f2f2f2 0% 0% no-repeat padding-box;
        //   opacity: 1;
        // }
        .hidden {
          display: none;
        }
        .list_candidatos {
          padding: 10px 0 0 100px;
          width: 445px;
          // margin: 0 auto;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100px;
            overflow-y: scroll;
            li {
              display: grid;
              grid-template-columns: 30px 195px 115px;
              column-gap: 10px;
              margin-bottom: 10px;
              letter-spacing: 0px;
              color: #585858;
              opacity: 1;
              font-size: 14px;
              .cant_votos {
                color: #585858;
                font-weight: 700;
              }
              .img_profile {
                height: 30px;
                width: 30px;
              }
              .candidato_002 {
                // john milton
                background: url('../img/candidatos.png') no-repeat;
                background-position: -225px 0;
                background-size: 300px;
              }
              .candidato_003 {
                // Fico
                background: url('../img/candidatos.png') no-repeat;
                background-position: -270px 0;
                background-size: 300px;
              }
              .candidato_001 {
                // rodolfo
                background: url('../img/candidatos.png') no-repeat;
                background-position: -180px 0;
                background-size: 300px;
              }
              .candidato_005 {
                // enrique
                background: url('../img/candidatos.png') no-repeat;
                background-position: -90px 0;
                background-size: 300px;
              }
              .candidato_004 {
                // fajardo
                background: url('../img/candidatos.png') no-repeat;
                background-position: 0 0;
                background-size: 300px;
              }
              .candidato_006 {
                // petro
                background: url('../img/candidatos.png') no-repeat;
                background-position: -45px 0;
                background-size: 300px;
              }
              .candidato_007 {
                background: url('../img/candidatos.png') no-repeat;
                background-position: -454px 0px;
                background-size: 300px;
              }
              .candidato_008 {
                // ingrid
                background: url('../img/candidatos.png') no-repeat;
                background-position: -135px 0;
                background-size: 300px;
              }
            }
          }
        }
      }
    } // Fin camara body

    .elecciones_body_presidenciales_nacional {
      display: block;
      padding-top: 15px;
      .consultas {
        list-style: none;
        padding: 20px 0 0;
        margin: 0 auto;
        width: 710px;
        display: flex;
        justify-content: center;
        column-gap: 45px;
        li {
          letter-spacing: 0px;
          color: #a4a4a4;
          opacity: 1;
          font-size: 16px;
          cursor: pointer;
        }
        li.active {
          color: #c10d19;
          font-weight: 700;
        }
      }
      .elecciones_r_presidenciales {
        margin: 0 auto;
        width: 1021px;
        .consulta_barras {
          list-style: none;
          padding: 0;
          margin: 30px 0 10px;
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(7, 40px);
          column-gap: 110px;
          li {
            height: 130px;
            width: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .progress-bar-vertical {
              width: 40px;
              height: 130px;
              background-color: #fff;
              // border:1px solid #ccc;
              border: none;
              position: relative;
              .bar {
                width: 100%;
                display: block;
                background: #009a1f 0% 0% no-repeat padding-box;
                border-radius: 7px 7px 0px 0px;
                opacity: 1;
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: center;
                span {
                  position: absolute;
                  top: -20px;
                  letter-spacing: 0px;
                  color: #000000;
                  font-size: 13px;
                  font-weight: 700;
                }
              }
            }
            .cant_votos {
              margin-top: 5px;
              letter-spacing: 0px;
              color: #000000;
              font-size: 13px;
              font-weight: 700;
            }
          }
        }
        .consulta_candidatos {
          list-style: none;
          padding: 0;
          margin: 0;
          display: grid;
          justify-content: center;
          grid-template-columns: repeat(7, 115px);
          column-gap: 35px;
          .candidato {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .foto {
              height: 100px;
              width: 100px;

              // img {
              //   height: 65px;
              //   width: 65px;
              //   border-radius: 100%;
              //   object-fit: cover;
              // }
            }
            .candidato_002 {
              // john milton
              background: url('../img/candidatos.png') no-repeat;
              background-position: -746px 0;
            }
            .candidato_003 {
              // Fico
              background: url('../img/candidatos.png') no-repeat;
              background-position: -895px 0px;
            }
            .candidato_001 {
              // rodolfo
              background: url('../img/candidatos.png') no-repeat;
              background-position: -597px 0px;
            }
            .candidato_005 {
              // enrique
              background: url('../img/candidatos.png') no-repeat;
              background-position: -298px 0px;
            }
            .candidato_004 {
              // fajardo
              background: url('../img/candidatos.png') no-repeat;
              background-position: 0px 0px;
            }
            .candidato_006 {
              // petro
              background: url('../img/candidatos.png') no-repeat;
              background-position: -149px 0;
            }
            .candidato_007 {
              background: url('../img/candidatos.png') no-repeat;
              background-position: -454px 0px;
            }
            .candidato_008 {
              // ingrid
              background: url('../img/candidatos.png') no-repeat;
              background-position: -448px 0px;
            }
            .name_candidato {
              letter-spacing: 0px;
              color: #000000;
              font-size: 12px;
              line-height: 16px;
              font-weight: 700;
              text-align: center;
              margin: 5px 0 0 0;
            }
          }
        }
      }
    }
  }

  .elecciones_footer {
    margin: 20px auto 10px;
    max-width: 550px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
      }
      .total_v_title,
      .votos_n_title,
      .votos_nm_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          font-size: 14px;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
        }
        .total_v,
        .votos_n,
        .votos_nm {
          font-size: 16px;
        }
      }

      .logo_total_v,
      .logo_votos_n,
      .logo_votos_nm {
        width: 38px;
        height: 38px;
      }
      .logo_total_v {
        background: url('../img/votos.png');
      }
      .logo_votos_n {
        background: url('../img/nulos.png');
      }
      .logo_votos_nm {
        background: url('../img/no_mark.png');
      }
    }
  }
  .menu_mobile_candidatos_partidos {
    display: none;
  }
}

@media (max-width: 768px) {
  #elecciones_results {
    border: none;
    position: relative;
    width: 100%;

    .elecciones_header {
      grid-template-columns: 1fr;
      justify-content: center;
      margin: 0 0 20px;
      .elecciones_title_result {
        position: static;
        h2 {
          font-size: 22px;
          line-height: 20px;
        }
        .elecciones_mesas {
          justify-content: center;
          flex-flow: wrap;
          column-gap: 30px;
          row-gap: 10px;
        }
      }
      .logo_bandera {
        width: 162px;
        height: 88px;
        position: absolute;
        left: 0;
      }
      .logo_elecciones {
        margin-top: 15px;
        margin-right: 12px;
        position: absolute;
        right: 0;
        width: 148px;
        height: 35px;
      }
      .logo_bandera,
      .logo_elecciones {
        img {
          width: 100%;
        }
      }
    }

    .elecciones_menu {
      position: static;
      column-gap: 50px;
      .corporacion_senado,
      .corporacion_camara,
      .corporacion_consultas {
        width: 81px;
        height: 36px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .elecciones_container {
      height: auto;
      padding-bottom: 20px;
      position: static;
      width: 96%;
      .elecciones_body_senado {
        grid-template-columns: 1fr;
        .menu_mobile_candidatos_partidos {
          display: flex;
          column-gap: 25px;
          justify-content: center;
          padding: 0;
          list-style: none;
          margin: 18px 0 0;
          font-size: 14px;
          line-height: 18px;
          font-weight: 700;
          letter-spacing: 0px;
          opacity: 1;
          color: #a4a4a4;
          .candidatos.active,
          .partidos.active {
            color: #c10d19;
          }
          .partidos,
          .candidatos {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
          }
          input,
          label {
            cursor: pointer;
          }
        }
        .divider {
          display: none;
        }
        .elecciones_partidos {
          display: none;
        }

        .elecciones_cantidados .elecciones_cantidatos_title {
          justify-content: center;
          column-gap: 90px;
        }

        .elecciones_partidos {
          .elecciones_partidos_title {
            grid-template-columns: 1fr 1fr 1fr;
            .posib_curules,
            .vacio {
              display: none;
            }
          }
          .elecciones_r_senado_partidos {
            li {
              grid-template-columns: 1fr 1fr 1fr;
              justify-content: center;
              justify-items: center;
              padding: 0 30px;
              margin: 0 auto;
              .partido {
                display: none;
              }
            }
          }
        }
      }

      .elecciones_body_presidenciales_nacional {
        .elecciones_r_presidenciales {
          display: flex;
          /* flex-direction: column; */
          column-gap: 65px;
          justify-content: center;
          width: 100%;
          .consulta_barras {
            display: flex;
            flex-direction: column;
            order: 1;
            margin: 0;
            column-gap: 0;
            justify-content: flex-start;
            width: 130px;
            li {
              transform: rotate(90deg);
              row-gap: 30px;
              .progress-bar-vertical .bar span {
                transform: rotate(-90deg);
                margin-top: -10px;
              }
              .cant_votos {
                transform: rotate(-90deg);
              }
            }
          }
          .consulta_candidatos {
            display: flex;
            flex-direction: column;
            column-gap: 0;
            justify-content: flex-start;
            row-gap: 12px;
            margin-right: 25px;
          }
        }
      }

      .elecciones_body_presidenciales_departamental {
        .elecciones_partidos_title {
          grid-template-columns: 190px 78px 225px;
          justify-content: center;
          column-gap: 10px;
          padding: 12px 0 0;
          li {
            flex-direction: column;
            justify-content: center;
          }
          li:first-child {
            align-items: flex-start;
            span {
              line-height: 13px;
            }
          }
        }

        .eleeciones_r_presidenciales_candidatos {
          .list_partido {
            grid-template-columns: 140px 80px 130px;
            column-gap: 8px;
            justify-content: center;
            padding: 0 8px;
            // .elecciones_logos_partidos .partido {
            //   display: none;
            // }
            .porcet_v {
              margin: 0;
              progress {
                width: 100%;
              }
              progress::-webkit-progress-bar {
                width: 100%;
              }
            }
          }
          .list_candidatos {
            width: 80%;
            ul li {
              grid-template-columns: 30px 1fr 1fr;
              align-items: center;
            }
          }
        }
      }

      .elecciones_body_consultas {
        .consultas {
          width: 100%;
        }
        .elecciones_r_presidenciales {
          width: 100%;
          .consulta_barras {
            column-gap: 55px;
          }
          .consulta_candidatos {
            grid-template-columns: repeat(5, 80px);
            column-gap: 20px;
            .candidato .name_candidato {
              text-align: center;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #elecciones_results {
    .elecciones_header {
      .elecciones_title_result {
        margin-top: 40px;
        h2 {
          width: 210px;
        }
      }
    }
    .elecciones_menu {
      column-gap: 30px;
    }
    .elecciones_container {
      .elecciones_body_senado {
        .elecciones_partidos {
          .elecciones_r_senado_partidos li {
            grid-template-columns: 40px 60px 120px;
            padding: 0;
            padding-right: 45px;
          }
          .elecciones_partidos_title {
            grid-template-columns: 83px 45px 120px;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .elecciones_body_presidenciales_departamental {
        .elecciones_partidos_title {
          grid-template-columns: 125px 78px 100px;
        }
        .eleeciones_r_presidenciales_candidatos {
          .list_partido {
            // grid-template-columns: 88px 50px 90px;
            // justify-content: flex-start;
            // column-gap: 5px;
            // padding: 0 0px 0 15%;
            .porcet_v progress::before {
              right: -48px;
              font-size: 14px;
            }
          }
          .list_candidatos {
            padding-left: 19%;
            width: 80%;
            ul {
              // li {
              //   grid-template-columns: 165px 120px;
              // }
            }
          }
        }
      }

      .elecciones_body_consultas {
        .consultas {
          column-gap: 10px;
          li {
            font-size: 14px;
          }
        }
        .elecciones_r_presidenciales {
          .consulta_barras {
            column-gap: 30px;
            margin-top: 18px;
          }
          .consulta_candidatos {
            grid-template-columns: repeat(5, 50px);
            column-gap: 25px;
          }
        }
      }
    }

    .elecciones_footer {
      ul {
        li {
          flex-direction: column;
          align-items: center;
          row-gap: 8px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #elecciones_results {
    .elecciones_container {
      .elecciones_body_presidenciales_departamental {
        .eleeciones_r_presidenciales_candidatos {
          .list_partido {
            // padding: 0 0px 0 12%;
            grid-template-columns: 140px 1fr 1fr;
            .porcet_v progress {
              display: none;
            }
          }
          .list_candidatos {
            padding-left: 14%;
            width: 80%;
            ul {
              // li {
              //   grid-template-columns: 165px 90px;
              //   column-gap: 10px;
              // }
            }
          }
        }
      }

      .elecciones_body_consultas {
        .elecciones_r_presidenciales {
          .consulta_candidatos {
            grid-template-columns: repeat(5, 48px);
            column-gap: 18px;
          }
        }
      }
    }
  }
}
